/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #D7C9BD; color: #fff; text-shadow: none; }
::selection { background: #D7C9BD; color: #fff; text-shadow: none; }
a { }
a:visited { }
a:hover { }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Tom Ashworth
   Palette: #F38630 #F37614 #D7C9BD #595551 #FFFBF7
   ========================================================================== */


body {
  font: 100%/1.4 freight-sans-pro, Verdana, sans-serif;
  font-size: 1em;
  color: #595551;
  background: #fff;
  /*background: #FFFBF7;*/
  overflow: hidden;
}
a, a:visited {
  color: #F38630;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
  a:hover {
    color: #F37614;
    border-bottom: 1px solid #D7C9BD;
  }
  
img {
  max-width: 100%;
}

input, textarea {
  font: 100%/1.3 freight-sans-pro, Verdana, sans-serif;
}
  input:focus, textarea:focus {
    outline-color: #D7C9BD;
  }

h1, h2, h3, h4 {
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0.67em 0;
}
  h1 a, h2 a, h3 a {
    text-decoration: none;
  }
  h1 a, h1 a:visited, h1 {
    color: #191511;
  }
    h1 a:hover{
      color: #F37614;
    }
    
p, ul, ol {
  margin: 0.67em 0;
}

ul, ol {
  padding-left: 1.7em;
}
    
.container {
  width: 30%;
  background: #FFFBF7;
  padding: 1em 1.7em;
  float: left;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.3);
}
  .container[role=comments], .container[role=intro] {
    background: #FAF7F3;
    width: 20%;
  }
  .container[role=admin] {
    background: #eee;
    width: 15%;
  }

article, section, nav {
  margin: 1.4em 0;
}
  blockquote {
    border-left: 1px solid #D7C9BD;
    margin-left: 0.67em;
    padding-left: 0.67em;
    font-style: italic;
  }
  article[role=comment] {
    margin: 0.67em 0;
    color: #D7C9BD;
  }
    article[role=comment] h4 {
      color: #595551;
      margin-bottom: 0em;
    }
    article[role=comment] p:first-of-type {
      margin-top: 0;
    }
  .allcomments {
    margin: 0;
  }
  .toggle {
    display: none;
  }
    #comment:target .toggle {
      display: block;
    }

nav {}
  nav h3 {
    margin-bottom: 0;
  }
  nav li {
    overflow: hidden;
  }
    nav ul a {
      display: block;
      float: left;
    }
    nav ul a.delete, nav ul a.confirm {
      float: right;
      color: #D7C9BD;
    }
      nav ul a.delete:hover {
        color: #f7897D;
      }
        nav ul a.confirm:hover {
          color: #ff493D;
        }
      
    
aside {
  color: #D7C9BD;
  margin-bottom: 0.67em;
}
  aside strong {
    font-weight: normal;
    color: #595551;
  }

form {
}
  div[role=field] {
    margin-bottom: 1em;
  }
  label {
    float: left;
    width: 1.7em;
    padding-top: 0.3em;
  }
  input[type=text], input[type=password] {
    padding: 0.2em 0.4em;
    border: 1px solid #D7C9BD;
    width: 86%;
  }
  textarea {
    margin-left: 1.7em;
    padding: 0.2em 0.5em;
    border: 1px solid #D7C9BD;
    width: 86%;
  }
  input[type=submit] {
    margin-left: 1.7em;
    padding: 0.2em 0.5em;
    border: 1px solid #D7C9BD;
    background: #eee;
    box-shadow: 0 1px 1px #D7C9BD;
  }
    input[type=submit]:hover {
      position: relative;
      top: -1px;
      background: #f5f5f5;
      box-shadow: 0 1px 1px #D7C9BD;
    }
    input[type=submit]:active {
      position: relative;
      top: 0;
      box-shadow: 0 0px 1px #D7C9BD, inset 0 0px 3px #fff;
    }
  
  form[role=comment] {
    margin-top: 0.5em;
  }
  form[role=comment] div[role=field] {
    margin-bottom: 0.5em;
  }
  form[role=comment] textarea, form[role=comment] input {
    margin-left: 0;
  }
    form[role=comment] textarea, form[role=comment] input[type=text] {
      width: 93%;
    }
    form[role=comment] aside {
      margin-bottom: 0.5em;
    }
